.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-color:rgb(248, 183, 244);
    background-size: cover;
    min-height: 180px;
    display: flex;
    align-items: center;
}
.btn-1{
    display: inline-block;
    padding: 15px 25px;
    background-color: aquamarine;
    color: blue;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0;
    margin: 25px 0;
    position: relative;
    left: 10px;
    top: -20px;
}
.btn-1:hover{
    background-color: antiquewhite;
}
img{
    width: 320px;
    height: 220px;
}

.footer-bg{
    background-image: url(imagenes-/b2.jpg);
    background-position:center center ;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.campo-1{
    margin-bottom: 15px;
}
.campo {
    margin: 5px;
    padding: 20px 15px;
    width: 250px;
    background-color: #ffffff;
    border: 1 px solid #cfc;
    outline: none;
    border-radius: 10px;
    color: #ca6464;
    font-size: 14px ;
}
textarea{
    width: 520px;
}
p{
    font-size: 23px;
    color: #ffffff;
}
.footer-txt{
    text-align: center;
    padding: 10px;
    background-color: #000000;

}

